<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>
<body>
    <h1>Welcome to the Todo-List Manager</h1>
    <p>
        Here you can see a list of all existing tasks
    </p>
    <ul>
        {%  for t in tasks %}
            <li> {{ t[1] }} <a href="{{ url_for("delete", idt = t[0]) }}">Delete</a> </li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('insert_new') }}" method="post">
        <p>
            Insert a new task:
            <input type="text" name="new_task" >  <input type="submit" value=" Enter ">
        </p>
    </form>
</body>
</html>